@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-lm737t');
	src:url('../fonts/icomoon.eot?#iefix-lm737t') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-lm737t') format('truetype'),
		url('../fonts/icomoon.woff?-lm737t') format('woff'),
		url('../fonts/icomoon.svg?-lm737t#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="im-"], [class*=" im-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.im-guitar:before {
	content: "\e905";
}
.im-user:before {
	content: "\e904";
}
.im-paper:before {
	content: "\e903";
}
.im-cog:before {
	content: "\e902";
}
.im-star:before {
	content: "\e900";
}
.im-star-light:before {
	content: "\e901";
}
.im-arrow-left:before {
	content: "\e60a";
}
.im-home:before {
	content: "\e609";
}
.im-remove:before {
	content: "\e608";
}
.im-cloud:before {
	content: "\e605";
}
.im-arrow-down:before {
	content: "\e601";
}
.im-arrow-up:before {
	content: "\e603";
}
.im-pencil:before {
	content: "\e606";
}
.im-flag:before {
	content: "\e602";
}
.im-layers:before {
	content: "\e604";
}
.im-menu-dots:before {
	content: "\e600";
}