@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2cross');
	src:url('fonts/icomoon.eot?#iefix-2cross') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-2cross') format('truetype'),
		url('fonts/icomoon.woff?-2cross') format('woff'),
		url('fonts/icomoon.svg?-2cross#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e603";
}
.icon-flag:before {
	content: "\e602";
}
.icon-layers:before {
	content: "\e604";
}
.icon-dots-horizontal:before {
	content: "\e601";
}
.icon-menu-dots:before {
	content: "\e600";
}
